<!-- base -->
<button class="btn">Button</button>
<!-- variant -->
<button class="btn btn--fill btn--border btn--primary">Primary</button>
<button class="btn btn--fill btn--border btn--secondary">Secondary</button>
<button class="btn btn--fill btn--border btn--grey">Grey</button>
<!-- states -->
 <button class="btn btn--primary" disabled>Primary</button>
 <button class="btn btn--secondary" disabled>Secondary</button>
<button class="btn btn--grey" disabled>Grey</button>
 <!-- icon -->
  <button class="btn btn--primary"></button>