/* box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* reset margin & padding */
html, body {
    margin: 0;
    padding: 0;
}
/* font rendering */
body {
    -webkit-font-smoothing: antialiased;
}
/* media elements */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* font elements */
input, button, textarea, select {
    font: inherit;
}
/* remove default button style */
button {
    background: none;
    border: none;
    padding: 0;
}
/* remove list style */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}