@font-face {
    font-family: 'SF Pro';
    src: url('../base/fonts/SF-Pro-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../base/fonts/SF-Pro-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'SF Pro';
    src: url('../base/fonts/SF-Pro-Bold.otf') format('opentype');
    font-weight: 700;
}
h1, h2, h3 {
    font-family: 'SF Pro';
    font-weight: 400;
}
h1 {
    font-size: var(--font-size-h1);
    line-height: 42px;
}
h2 {
    font-size: var(--font-size-h2);
    line-height: 36px;
}
h3 {
    font-size: var(--font-size-h3);
    line-height: 32px;
}
h4 {
    font-family: 'SF Pro';
    font-size: var(--font-size-h4);
    line-height: 28px;
}
p {
    margin: 0px;
    color: var(--color-grey-02);
    font-size: var(--font-size-body-2);
    font-family: 'SF Pro';
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
.text-regular {
    font-weight: 400;
}
.text-md {
    font-weight: 500;
}
.text-bold {
    font-weight: 700;
}
.text-main {
    color: var(--color-grey-01);
}
.text-secondary {
    color: var(--color-grey-02);
}
.text-placeholder {
    color: var(--color-placeholder);
}
.text-truncate-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}