.site-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/public/assets/Log-in.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.site-main {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.register-form {
    /*layout*/
    width: 441px;
    position: relative;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    /*style*/
    border-radius: 16px;
    background: #F4FBFB;

/* Drop shadow */
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
}
.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.form-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #646464;

    font-family: 'SF Pro';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
input {
    width: 100%;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* style */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'SF Pro';
    border-radius: 8px;
    border: 1px solid var(--color-grey-04);
    background: var(--color-grey-06);
}
input::placeholder {
    color: var(--color-placeholder);
}
input:focus {
    color: var(--color-grey-01);
    border-color: var(--color-primary); 
    outline: none;
}
input:not(:placeholder-shown):not(:focus) {
    color: var(--color-grey-01);
}
.toggle-password {
    position: absolute;
    top: 42px;
    right: 12px;
    transform: translateY(-30%);
    cursor: pointer;
}
.toggle-password:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 99px;
}
.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}
.password-wrapper {
    position: relative;
    width: 100%;
}
#statusText {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #646464;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    /* min-height: 20px; */
}
a {
    text-decoration: none;
    color: var(--color-primary); 
}